<li>
    {{taco_name}}

    <p>Shell: {{shell}}</p>

    <p>Vegetarian: {{vegetarian}}</p>

    <button class="change-pickedup" data-id="{{id}}" data-newpickedup="{{picked_up}}">
        {{#if picked_up}}PICK UP{{else}}LEAVE BEHIND{{/if}}
    </button>


</li>